[submodule "front"]
	path = front
	url = git@github.com:pipa/hive-front.git
[submodule "api"]
	path = api
	url = git@github.com:pipa/hive-api.git
[submodule "db"]
	path = db
	url = git@github.com:pipa/hive-db.git
